<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Data Input Form</title>
  </head>
  <body>
    <h1>Enter Data</h1>
    <form method="post">
      <label>Sr No.: <input type="text" name="sr_no"></label><br>
      <label>Khoji ID: <input type="text" name="khoji_id"></label><br>
      <label>First Name: <input type="text" name="first_name"></label><br>
      <label>Middle Name: <input type="text" name="middle_name"></label><br>
      <label>Last Name: <input type="text" name="last_name"></label><br>
      <label>Mobile: <input type="text" name="mobile"></label><br>
      <label>Gender: <input type="text" name="gender"></label><br>
      <label>Address: <input type="text" name="address"></label><br>
      <label>Tejsthan: <input type="text" name="tejsthan"></label><br>
      <label>Zone: <input type="text" name="zone"></label><br>
      <label>Pincode: <input type="text" name="pincode"></label><br>
      <label>Current Shivir: <input type="text" name="current_shivir"></label><br>
      <button type="submit">Submit</button>
    </form>

    <h2>Download Data</h2>
    <a href="/download">Download CSV</a>
  </body>
</html>

